.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
   
}
.left-child{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.logo{
    font-size: 1.3rem;
    font-weight: bold;
}
.right-child{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.otion-list{
    flex: 10;
}
.otion-list>ul{
        display: flex;
        gap: 2rem;
        margin-right: 4rem;
        
}
.li:hover{
    cursor: pointer;
    color: var(--orange);
}
.n-button{
    flex: 2;
}

@media screen and (max-width: 480px) {
    .otion-list {
      display: none;
    }
  }